@font-face {
    font-family: 'HTBaybarsText-Light'; 
    src: url('fonts/HTBaybarsText-Light.woff2') format('woff2'); /* Ensure the correct path */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'HTBaybarsText-Light', sans-serif; /* Reference the font-family correctly */
}
